body { font-family: Arial; background: #f4f4f4; text-align: center; }
#stock-container { background: white; padding: 20px; margin: 20px auto; border-radius: 10px; width: 300px; box-shadow: 0 0 10px rgba(0,0,0,0.1);}

